<ion-view view-title="Account">
    <ion-content>       
        <div class="list card">
            <center>
                <h2>{{userData.displayName}}</h2>
                <p><strong>Email: </strong>{{userData.email}}</p>
            </center>
            <div class="item item-body">
                <center>
                    <img src={{userData.profileImageURL}} style="width:200px" class="headshot menu-item">
                </center>
            </div>
        </div>
    </ion-content>
</ion-view>
