<ion-view view-title="Charts">
    <ion-content>
        <div class="card">
            <h3 class="center">Bar chart</h3>
            <canvas id="bar" class="chart chart-bar" chart-data="barChart.data" chart-labels="barChart.labels" chart-series='barChart.series' height="100"></canvas>
        </div>
        <div class="card">
            <h3 class="center">Radar chart</h3>
            <canvas id="radar" class="chart chart-radar" chart-data="radarChart.data" chart-options="options" chart-labels="radarChart.labels">
            </canvas>
        </div>
    </ion-content>
</ion-view>