<ion-view view-title="Login">
<ion-header-bar>
</ion-header-bar>

<ion-content>
    <div class="center imageResize">
        <img src="img/azure.png">
        <img src="img/plus.png">
        <p class="ionic-logo"></p>
    </div>

    <div class="imageStyling" style="text-align: center">
        <img src="img/facebook.png" ng-click="doLogin('facebook')">
        <img src="img/twitter.png" ng-click="doLogin('twitter')">
        <img src="img/googleplus.png" ng-click="doLogin('google')">
    </div>
</ion-content>
</ion-view>